body {
	width: 360px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	color: #000;
	margin: 0px;
	background-color: #ffffff;
}

::-webkit-scrollbar { 
	width: 10px; 
	margin: 0px;
}

::-webkit-scrollbar-thumb { 
	background-color: #000000; 
	border-radius: 3px;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -20px;
	padding-top: 5px;
	background-color: #000;
}

#footer, #push{
	min-height: 20px;
	color: white;
	background-color: #3d3d3d;
	padding-top: 1px;
	text-align: center;
}

.content {
	display: block;
	height: 450px;
	max-height: 500px;
	padding-left: 3px;
	overflow-x: hidden;
	overflow-y: scroll;
}

legend {
	text-align: center; 
	font-size: 12pt;
}

ul#tabs li{
	margin: 0px;
}

#list {
	list-style-type: none;
	padding-left: 0px;
}

#list li input[type=checkbox] {
	margin: 3px 3px 3px 0px;
}

input#name{
	width: 225px;
	border-radius: 5px; 
}

#list li {
	color: rgb(77, 72, 61);
}

#list li span {
	display: block;
	font-size: 90%;
	padding-bottom: 5px;
	color: rgb(5, 63, 167);
	clear: both;
}

#list li:last-child span {
	padding-bottom: 0px;
	margin-bottom: 5px;
}

#open_tab {
	display: none;
	overflow: hidden;
	margin-left: -40px;
}

#open_tab form{
	padding-bottom: 5px
}

#save_tab {
	overflow: hidden;
	margin-left: -40px;
}

#tabs {
	list-style: none;
	margin-top: -11px;
	margin-bottom: 0px;
}

ul#tabs_link{
	margin-top: 0px;
	padding-left: 10px;
	margin-top: 5px;
}

ul#tabs_link li {
	display: inline;
	background-color: white;
}

ul#tabs_link li a {
	color: #ffffff;
	background-color: #000000;
	border: 1px solid black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: none;
	padding: 0.3em; 
	padding-bottom: 2px;
	text-decoration: none;
}

ul#tabs_link li a:hover {
	color: red;
}

ul#tabs_link li a.selected {
	color: #000;
	border-bottom: 1px solid #D8D8D8;
	background-color: #D8D8D8;
	font-weight: bold;
	padding: 0.3em;
	padding-bottom: 2px;
}

div.tabContent {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0px;
	background-color: #D8D8D8;
}

div.tabContent form {
	padding-top: 5px;
}

.btn {
	display: inline-block; 
	margin-bottom: 0; 
	font-weight: 400; 
	text-align: center; 
	vertical-align: middle; 
	cursor: pointer; 
	background-image: none; 
	border: 1px solid transparent;
	white-space: nowrap; 
	font-size: 14px; 
	line-height: 1.4; 
	border-radius: 6px; 
	user-select: none; 
	float: right;
}
	
.btn-success {
	color: #000000; 
	background-color: #5cb85c; 
	border-color: #4cae4c;
}
	
.btn-success:hover, .btn-success:focus {
	background-color: #47a447; 
	border-color: #398439;
}

