body {
	width: 360px;
	font-family: erdana, Geneva, sans-serif;
	font-size: 10pt;
	color: rgb(80, 120, 175)
}

.content {
	display: block;
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: scroll
}

#list {
	list-style-type: none;
	padding-left: 17px
}

#list li {
	float: left;
	margin-top: 10px
}

#list li input[type=checkbox] {
	margin-left: -15px
}

#list li span {
	display: block;
	font-size: 90%;
	color: green;
	clear: both
}

#open {
	display: none;
	overflow: hidden
}

#tabs {
	list-style: none;
}