body {
	width: 360px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	color: #000;
	margin: 0px;
	background-color: #ffffff;
	/* border: 5px solid #464646; */
}

::-webkit-scrollbar {
	width: 10px;
	margin: 0px;
}

::-webkit-scrollbar-thumb {
	background-color: #909090;
	border-radius: 3px;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -20px;
	padding-top: 5px;
	background-color: #000;
}

/* Begin Header*/
#wrap>header {
	display: block;
	height: 40px;
	margin-bottom: 9px;
}

header #social {
	width: 170px;
	display: inline-block;
	float: left;
	padding-top: 8px;
	padding-left: 10px;
	padding-bottom: 8px;
}

header #social a img {
	background-color: #fff;
	padding: 1px;
	border-radius: 20px;
	height: 24px;
	width: 24px;
}

header #social a:hover img {
	background-color: #f45a00;
}

header span {
	display: inline-block;
	padding: 15px 20px 10px 10px;
	float: right;
}

header span a {
	color: #c89544;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	float: right;
}

header span a:hover {
	color: #ffffff;
}

header span a b {
	color: #ffffff;
}

header span a:hover b {
	color: #c89544;
}

header span a i {
	font-size: 9px;
	font-style: normal;
	font-weight: normal !important;
	color: rgb(255, 102, 0);
}

/* End Header*/

/*Begin Fieldset*/
fieldset {
	border: 1px solid #ff882e;
	border-radius: 8px;
	display: block;
	background-color: #f45a00;
}

fieldset legend {
	font-size: 12px;
	font-weight: bold;
	color: #f5d959;
}

fieldset legend span.white {
	color: white !important;
}

/*Begin Fieldset*/

/*Begin Content*/
.content {
	display: block;
	height: 400px;
	max-height: 500px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 3px;
	background-color: #222222;
	overflow-x: hidden;
	overflow-y: scroll;
}

.sessions {
	display: block;
	height: 400px;
	max-height: 500px;
	padding-top: 7px;
	padding-bottom: 4px;
	padding-left: 3px;
	background: linear-gradient(to bottom, #e96101 1%, #fd8c17 100%);
	overflow-x: hidden;
	overflow-y: scroll;
}

ul#tabs li {
	margin: 0px;
}

#list {
	list-style-type: none;
	padding-left: 0px;
}

#list li input[type=checkbox] {
	margin: 3px 3px 3px 3px;
	vertical-align: middle;
}

input#inpt_name {
	width: 71%;
	border-radius: 5px;
}

#list li {
	color: #c89544;
	margin: 5px 0px 5px 0px !important;
}

#list li img {
	margin: -1px 3px 0px 3px;
	vertical-align: middle;
}

#list li span {
	display: block;
	font-size: 90%;
	padding-left: 23px;
	padding-bottom: 5px;
	color: #909090;
	clear: both;
}

#list li:last-child span {
	padding-bottom: 0px;
	margin-bottom: 5px;
}

#open_tab {
	display: none;
	overflow: hidden;
	margin-left: -40px;
}

#open_tab form ul#stored {
	padding-left: 5px;
}

#open_tab form ul#stored li {
	list-style-type: none;
	border: 1px solid #BE6521;
	border-radius: 8px;
	/* background-color: #f45a00; */
	background: linear-gradient(to bottom, #e96101 1%, #fd8c17 100%);
	margin-bottom: 2px;
	display: block;
}

#open_tab form ul#stored li div.session-block {
	overflow: hidden;
}

#open_tab form ul#stored li div.session-block a {
	color: #000000;
	padding: 2px 2px 2px 8px;
	display: block;
	width: 89%;
	text-decoration: none;
	overflow: hidden;
	float: left;
}

#open_tab form ul#stored li div.session-block span.delete-session {
	display: block;
	float: right;
	/*color: red;*/
	color: black;
	font-weight: bold;
	margin-right: 10px;
	cursor: pointer;
	/*background-color: #fff;*/
	margin-top: 3px;
	border-radius: 20px;
	padding-left: 3px;
	padding-right: 3px;
	margin-bottom: 3px;
}

#open_tab form ul#stored li div.session-block span.delete-session:hover
	{
	background-color: yellow;
}

#open_tab form ul#stored li div.session-block a:hover {
	color: #ffffff;
}

#save_tab {
	overflow: hidden;
	margin-left: -40px;
}

#tabs {
	list-style: none;
	margin-top: -11px;
	margin-bottom: 0px;
}

ul#tabs_link {
	margin-top: 0px;
	padding-left: 10px;
	margin-top: 5px;
}

ul#tabs_link li {
	display: inline;
	background-color: white;
}

ul#tabs_link li a {
	color: #ffffff;
	background-color: #000000;
	border: 1px solid black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: none;
	padding: 0.3em;
	padding-bottom: 2px;
	text-decoration: none;
}

ul#tabs_link li a:hover {
	color: #ff6e01;
}

ul#tabs_link li a.selected {
	color: #000000;
	border-bottom: 1px solid #e96101;
	background-color: #e96101;
	font-weight: bold;
	padding: 0.3em;
	padding-bottom: 2px;
}

div.tabContent {
	border-top: 1px solid black;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 0px;
	background-color: #ff6e01;
}

.content_field {
	padding: 5px 8px 10px 8px;
	background: linear-gradient(to bottom, #e96101 1%, #fd8c17 100%);
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 14px;
	line-height: 1.4;
	border-radius: 6px;
	user-select: none;
	float: right;
}

.btn-success {
	color: #000000;
	background-color: #e68515;
	border-color: #DD7600;
	width: 26%;
}

.btn-success:hover,.btn-success:focus {
	background-color: #DD7600;
	border-color: #DD7600;
}

/*End Content*/

/*Begin footer*/
#push {
	min-height: 20px;
	color: #909090;
	background-color: #000000;
	text-align: center;
}

#footer {
	min-height: 20px;
	color: #909090;
	background-color: #000000;
	padding-top: 1px;
	text-align: center;
}

#footer {
	border-top: 1px solid #c89544;
	padding: 4px;
}

#footer span {
	font-size: 11px;
}

#footer span a {
	color: #c89544;
	text-decoration: none;
}

#footer span a:hover {
	color: #f45a00;
}

/*End footer*/